@import 'bootstrap/dist/css/bootstrap.css';

.swiper {
    /* width: 600px; */
    height: 500px;
}

.height {
    height: calc(100% - 2rem);
}

.poster {
    height: 25rem;
    object-fit: cover;
    object-position: top;
}

.backdrop {
    opacity: 30%;
    filter: blur(1px) brightness(40%);
}